*.pyc
*.zip
data_preprocessing/data/*
wandb/*
data/
Hermes/
toy
runs/*
*/__pycache__
EMAN/
slurm/
runs/
demo/
GemCNN/
note
output/
outputs/
aggregate/
rollouts/
Cerberus/
data/weatherbench/
GCN/
-copilot.log
Uni/
assets/rayleigh_quotients_comparison.png
external/custom_hermes/generate_diffusion_small.py
external/transformer/
mse_plot.py
nmse_comparison.png
plot.py
rqe_comparison.png
